---
import Layout from '../layouts/Layout.astro';
import ReactComponent from '../components/ReactComponent';
import SvelteComponent from '../components/SvelteComponent.svelte';
import VueComponent from '../components/VueComponent.vue';
---

<Layout title="Welcome to demo">
  <main style="color: #fff;">
    <h1>It's demo page</h1>
    <ReactComponent client:load>
      <span>React Components</span>
    </ReactComponent>
    <SvelteComponent client:load />
    <VueComponent client:load />
  </main>
</Layout>
